<!-- My Approach-->
<section class="section section-lg bg-default">
  <div class="container">
    <div class="row row-50 justify-content-center justify-content-xl-between flex-lg-row-reverse">
      <div class="col-md-11 col-lg-6 col-xl-5">
        <div class="box-1">
          <h2>Vài Từ Mô Tả Trung Tâm Online</h2>
          <h5>Nơi Đây Bạn Có Thể Học Mọi Lúc, Mọi Nơi</h5>
          <p>Tại Trung tâm online, chúng tôi hướng đến cung cấp chất lượng cao về 
            học tập, đảm bảo kiến thức cần thiết cho người học đi xin việc. Các 
            khoá học được cung cấp bởi các giảng viên có kinh nghiệm về giáo dục
          </p>
        </div>
      </div>
      <div class="col-md-11 col-lg-6">
        <!-- Thumbnail Media-->
        <div>
          <%= image_tag("ngon-ngu.jpg", class: "img-fluid") %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services-->
<section class="section section-lg bg-gray-100 text-center">
  <div class="container">
    <h2 class="wow fadeIn">Các Khoá Học</h2>
    <p class="wow fadeIn" data-wow-delay=".2s">
      <span class="text-gray-900" style="max-width: 570px;">
        Tại Trung Tâm Online, bạn sẽ tìm được rất nhiều khoá học phù hợp cho
        mình, để nâng cao khả năng bản thân cũng như kỹ năng làm việc.
      </span>
    </p>
    <div class="row row-30 row-xl-90 justify-content-center">
      <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeIn" data-wow-delay=".2s">
        <!-- Box Classic-->
        <article class="box-classic"><a class="fa fa-html5 icon box-classic-icon linearicons-calculator2" href="#"></a><a class="box-classic-main" href="#">
            <h4 class="box-classic-title">HTML - CSS</h4>
            <div class="box-classic-inner">
              <p>Nắm vững các kỹ năng HTML - CSS</p>
            </div></a></article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeIn" data-wow-delay=".3s">
        <!-- Box Classic-->
        <article class="box-classic"><a class="fa fa-tasks icon box-classic-icon linearicons-briefcase" href="#"></a><a class="box-classic-main" href="#">
            <h4 class="box-classic-title">Ruby</h4>
            <div class="box-classic-inner">
              <p>Tìm hiểu lập trình ngôn ngữ Ruby</p>
            </div></a></article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeIn" data-wow-delay=".4s">
        <!-- Box Classic-->
        <article class="box-classic"><a class="far fa-laptop icon box-classic-icon linearicons-laptop-phone" href="#"></a><a class="box-classic-main" href="#">
            <h4 class="box-classic-title">Công Nghệ Máy Tính</h4>
            <div class="box-classic-inner">
              <p>Khám phá thế giới CNTT, lập trình và công nghệ máy tính.</p>
            </div></a></article>
      </div>
      <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeIn" data-wow-delay=".5s">
        <!-- Box Classic-->
        <article class="box-classic"><a class="fa fa-microchip icon box-classic-icon linearicons-chip" href="#"></a><a class="box-classic-main" href="#">
            <h4 class="box-classic-title">Ruby on Rails</h4>
            <div class="box-classic-inner">
              <p>Tìm hiểu làm thế nào để bảo trì và sửa chữa các thiết bị điện tử hiện đại.</p>
            </div></a></article>
      </div>
    </div>
  </div>
</section>
