<% provide :title, t(".update_course") %>
<% provide :button_text,  t(".update_course") %>

<div class="row jumbotron mt-3">
  <div class="col-md-12">
    <h1 class="text-center"><%= t(".update_course") %></h1>
  </div>
  <div class="col-md-12">
    <% if has_role?(:admin) %>
      <%= render "form" %>
    <% else %>
      <h5 class="text-center text-danger">
        <%= t(".sorry") %>
      </h5>
    <% end %>
  </div>
</div>
