@import "bootstrap";
@import "font-awesome";

/* Variables, mixins, etc.. */
@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}

/* Signup form styles */
.signup-form {
  @include background-tile;
  h2 {
    margin-top: 0;
  }
}

// Login form styles
.login-form {
  @include background-tile;
  h2 {
    margin-top: 0;
  }
}

// Edit form styles
.edit-form {
  @include background-tile;
  h2 {
    margin-top: 0;
  }
}

.content-page-custom {
  padding-top: 90px;
}

body {
  h1, h2, h3, h4, h5, p, span, b {
    font-family: Arial !important;
  }

  h2 {
    font-size: 30px !important;
    font-weight: bold !important;
  }
}

.padding-top-15 {
  padding-top: 15px !important;
}

.image-course {
  display: block;
  width: 370px;
  height: 260px;
  overflow: hidden;

  img {
    width: 100% !important;
  }
}
