<div class="animated">
  <header class="page-header">
    <div class="rd-navbar-wrap">
      <nav class="rd-navbar rd-navbar-classic rd-navbar-original rd-navbar-static rd-navbar--is-stuck" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
        <div class="rd-navbar-main-outer">
          <div class="rd-navbar-main">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
              <!-- RD Navbar Brand-->
              <div class="rd-navbar-brand">
                <a class="brand" href="index.html">
                  <img class="brand-logo-dark" src=<%= image_path "grey.jpg" %> alt="" width="245" height="50">
                  <img class="brand-logo-light" src=<%= image_path "grey.jpg" %> alt="" width="245" height="50">
                </a>
              </div>
            </div>
            <div class="rd-navbar-nav-wrap toggle-original-elements">
              <!-- RD Navbar Nav    -->
              <ul class="rd-navbar-nav">
                <li class="rd-nav-item active"><a class="rd-nav-link" href="index.html">Home</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="about.html">About</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="typography.html">Typography</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" href="contacts.html">Contacts</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>
<style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
